<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <a class ='site-title' href='/'>Facespace</a>
      <%if(currentUser.name !== undefined){ %>
        <p>Hello <%= currentUser.name %></p>
      <% }else{ %>
        <a class='header__signIn' href='/signin'>Sign In</a>
      <% } %>
  </header>